# pip==8.1.2
bumpversion==0.6.0
click==8.1.2
# wheel==0.29.0
watchdog==2.1.5
flake8==4.0.1
tox==3.25.0
coverage==6.3.2
coloredlogs==15.0.1
wakeonlan==2.1.0
# Sphinx==1.4.8
# cryptography==1.7
# PyYAML==3.11
pytest==7.1.2
mock==4.0.3

